<!DOCTYPE html>
<html lang="en">

<head>
    <title>跳转页面</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="CodedThemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{{ buildStaticUrl('fonts/fontawesome/css/fontawesome-all.min.css') }}">
    <!-- animation css -->
    <link rel="stylesheet" href="{{ buildStaticUrl('plugins/animation/css/animate.min.css') }}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{{ buildStaticUrl('css/sts.css') }}">

</head>

<body>
    <!-- [ offline-ui ] start -->
    <div class="auth-wrapper offline">
        <div class="text-center">
            <h1 class="mb-4">正在排队</h1>
            <h5 class="text-muted mb-4">答题人数超多~ 请等待排队哦, 可以刷新试试</h5>
            <form action="index.html">
                <button class="btn btn-primary mb-4" onclick="redir()"><i class="feather icon-home"></i>刷新</button>
            </form>
        </div>
    </div>
    <!-- [ offline-ui ] end -->

</body>
</html>

<script>
    function redir() {
        window.location.href='http://api.vaststrong.com/'
    }
</script>
